services:
  - type: web
    name: api-gateway
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    envVars:
      - key: REDIS_URL
        value: redis://localhost:6379
      - key: USER_SERVICE_URL
        value: http://localhost:9001
      - key: ORDER_SERVICE_URL
        value: http://localhost:9002
      - key: PORT
        value: 8080
      - key: METRICS_USERNAME
        value: grafana
      - key: METRICS_PASSWORD
        value: metrics_secure_2026
    healthCheckPath: /health
